.footer {
    background-color: var(--footer-background-color);
}

.footer h3 {
    color: var(--footer-header-color);
    @apply text-sm font-semibold leading-6 lg:mb-6 mb-4
}

.footer * {
    color: var(--footer-text-color);
}

.footer dt {
    @apply opacity-70 text-sm
}

.footer .contactInfo {
@apply flex gap-x-4 items-center
}